.container {
  display: flex;
  flex-direction: row;
}

.cardsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
